.revies__gallery {
  padding: 1.6rem;

  @media (min-width: 750px) {
    padding: 6rem;
  }
}

.gallery__star__list {
  margin-bottom: 0.5rem;
}

.revies__gallery__grid__list {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;

  @media (min-width: 990px) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }
}

.revies__gallery__grid__item {
  box-shadow: 1px 1px 5px rgba(70, 70, 70, 0.2);
}

.revies__gallery__grid__item__img {
  width: 100%;
  height: auto;

  border-radius: 4px;
}

.revies__gallery__grid__item__desctiption__wraper {
  padding: 1rem;
}

.revies__gallery__title {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 16px;
  color: rgb(34, 34, 34);

  margin-bottom: 0.5rem;
}

.revies__gallery__date {
  font-size: 1.1rem;
  line-height: 11px;
  color: rgc(115, 115, 115);

  margin-bottom: 0.5rem;
}

.revies__gallery__description {
  font-size: 1.4rem;
  line-height: 19px;
  color: rgba(18, 18, 18, 0.75);
}

.revies__gallery__button__container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  margin: 3.2rem 0;
}

.revies__gallery__button {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 4px;
  padding: 0 3.2rem;

  font-size: 1.33rem;
  line-height: 34px;

  background-color: inherit;
}

.revies__gallery__button:hover,
.revies__gallery__button:focus {
  transition: 0.2s;
  border: 2px solid black;
}
